{
  "pid": "bw.resource.jdbc.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "bw.resource.jdbc",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "bw.resource.jdbc.7e50583f-772b-45c0-9cd2-78da8c667e39",
          "type": "java.lang.String"
        },
        {
          "value": "bw.resource.jdbc.9aea046a-e7df-4725-8828-cfad35c72a31",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}