{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.5e8962ca-88ee-4223-b602-810cc2aca953",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}